html.printable {
  @import "./paper.scss";

  @media screen {
    background-color: #e0e0e0;

    .sheet {
      min-height: 100vh;
    }

    .section.is-emphasised {
      margin-top: 15vh;
    }
  }

  @media print {
    @page {
      size: A4;
      margin: 1rem;
    }

    .is-hidden-print {
      display: none !important;
    }

    .is-only-print {
      display: block;
    }

    .is-page-break {
      page-break-before: always;
    }

    .hero.is-fullheight {
      height: 50vh !important;
      min-height: initial;
    }

    .avoid-page-break {
      page-break-inside: avoid;
    }

    .section {
      padding: 1.5rem;
    }
  }

  .sheet {
    display: flex;
    flex-direction: column;

    @media print {
      height: 100vh;
    }

    .body {
      flex: 1;
    }
  }

  footer {
    font-size: 14px;

    code {
      font-size: 14px;
    }
  }
}
