$family-sans-serif: "Helvetica Now (Text)", -apple-system, BlinkMacSystemFont,
  "Roboto", "Segoe UI", sans-serif;

$colour-brand: #ffd000;
$colour-dark: #222;

$border: $colour-brand;
$primary: $colour-brand;
$yellow: $colour-brand;
$black: $colour-dark;
$code: $black;
$code-background: transparent;
$emphasise: #dbdbdb;

$radius: 0;

$transition-default: ease-in-out 150ms;

$title-weight: 600;

$line-width: 5px;

@import "~bulma/bulma";

.table {
  thead {
    th {
      text-transform: uppercase;
      background-color: whitesmoke;
    }
  }
}

dt {
  font-weight: bold;
  text-transform: uppercase;

  &:not(:first-child) {
    margin-top: 8px;
  }
  &:before {
    content: "";
    display: block;
  }
  &:after {
    content: " ";
  }
}
dt,
dd {
  display: inline;
}

ul.list {
  list-style-type: disc;
  li {
    margin-left: 1rem;
  }
}

ol[type="a"] {
  list-style-type: lower-alpha;
}

figcaption {
  font-size: $size-7;
}

.content ul:first-child {
  margin-top: 0;
}

.navbar-menu {
  text-transform: uppercase;
  font-size: $size-7;
}

.level-item {
  justify-content: flex-start;
}

ul.inline {
  display: flex;
  margin-bottom: 0;

  li {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  @include mobile {
    &.reset-mobile {
      display: block;

      li {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}

.is-only-print {
  display: none;
}

.column.is-side {
  display: flex;
  align-items: flex-end;

  @include mobile {
    border-width: 0;
  }
}

@include mobile {
  .hero.is-large {
    min-height: 50vh;
  }
}

hr.brand {
  height: $line-width;
  width: 80px;
  margin: 20px 0;
  background-color: $colour-brand;
}

.button.is-uppercase {
  text-transform: uppercase;
}

svg.logo {
  height: 60px;
  margin-bottom: -10px;

  @include mobile {
    height: initial;
  }
}

.card.is-equal-height {
  height: 100%;

  @include mobile {
    height: initial;
  }
}

.button.is-text {
  text-decoration: none;

  span:not(.icon) {
    text-decoration: underline;
  }
}

.section.is-emphasised {
  border: 5px solid $emphasise;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.block.is-emphasised-left {
  border-left: 5px solid $emphasise;
}

code {
  white-space: nowrap;
  padding: 0;

  &.strong {
    font-weight: bold;
    font-size: $size-6;
  }
}

hr.is-emphasised {
  height: 5px;
  background-color: $emphasise;
}

.image.is-cover {
  height: 100%;

  img {
    object-fit: cover;
    height: 100%;
  }
}

code.is-flight-number {
  background-color: transparent;

  span {
    display: block;
    font-size: $size-5;
  }
}

header {
  position: sticky;
  top: 0;
  padding-top: $gap;
  z-index: 100;
  background-color: white;

  .container {
    padding: 0 1.5rem;
  }
}
